h1 { text-align: center; }
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
form {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 10px;
    width: 300px;
}
.pleaForm {
    margin: 0.5em;
}